.customer-dashboard{
    width: 12rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.2rem 0.6rem;
    color: #fff;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}
.total{
    background: linear-gradient(to right , #606c88,#3f4c6b);
}

.accepted{
    background:linear-gradient(to right , #00b09b,#1E9600);
}

.rejected{
    background:linear-gradient(to right ,#f57662, #eb3349);

}

.new {
    background:linear-gradient(to right , #4894f6,#2f7ef5);

}

@media screen and (max-width:500px) {
    .customer-dashboard{
        width: 8rem;
        height: 3rem;
    }
}